<div>
  <div class="message-container <%= viewer == message.sender ? "right-bubble p-2 align-items-end" : "left-bubble p-2 align-items-start" %>" id="message-<%= message.id %>">
  <div class="message-content-div">
    <p><%= message.content %></p>
  </div>
</div>
</div>
