    <% @announcements.each do |announcement| %>
      <div class="card-announcement py-2 px-3 d-flex align-items-center">
        <!-- pic or img -->
        <div class="announcement-user-name d-flex justify-content-center mt-3">
          <%= announcement.title %>
          <div class="event-info d-flex">
            <%= announcement.date %>
            <%= announcement.location %>
          </div>
          <%= announcement.content %>
        </div>
      </div>
    <% end %>



