<div class="area pt-3">
  <input type="radio" name="tab_name" id="tab1" checked>
  <label class="tab_class" for="tab1">Lost pets</label>
  <div class="content_class">

    <div class="container-announcements d-flex flex-column justify-content-center">
      <%= render "announcements/announcement" %>
    </div>

  </div>

  <input type="radio" name="tab_name" id="tab2" checked>
  <label class="tab_class" for="tab2">Notification</label>
  <div class="content_class">

    <div class="container-notification d-flex flex-column justify-content-center">
     <%= render "announcements/notification" %>
    </div>

  </div>

</div>














