<div class="area pt-3">
  <input type="radio" name="tab_name" id="tab1" checked>
  <label class="tab_class" for="tab1">Lost pets</label>
  <div class="content_class row justify-content-center">

      <div class="container-announcements col-12 col-md-10 col-lg-8 ">
        <%= render "announcements/announcement" %>
      </div>

  </div>

  <input type="radio" name="tab_name" id="tab2" checked>
  <label class="tab_class" for="tab2">Notification</label>
  <div class="content_class">
     <%= render "announcements/notification" %>
  </div>

</div>














