@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$body-font: 'Segoe UI', sans-serif;
$headers-font: 'Pacifico', cursive;

p {
  margin-bottom: 0 !important;
}
