#homepage-content {
  max-height: 100%;
  font-family: "Arvo", serif;
  position: relative;
}


.slogan {
  margin-top: 30px;
}s

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-home {
  margin-top: 60px;
}

#images img {
  width: 200px;
  padding-top: 30px;
}

#logo-home {
  width: 200px;
  height: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 0 20px;
  font-size: 10px;
  color: #7E7E7E;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 576px) {
  #homepage-content {
    max-height: 100%;
    margin-top: 40px;
  }

  .container-home {
    margin-top: 40px;
  }
  .slogan {
    margin-top: 30px;
  }

  .footer p {
    line-height: 12px;
  }
}

@media screen and (min-width: 1200px) {
  #homepage {
  min-height: 700px;
  }
}
