<div class="container d-flex mt-3 justify-content-center">
  <% if current_user.requested_friends.any? %>
    <div class="notification">
      <% @user.requested_friends.each do |friend| %>
        <%= render "friends/friend_request", friend: friend %>
      <% end  %>
    </div>
  <% end  %>
  <% if current_user.friends.any? %>
    <div class="notification">
      <% @users.friends.each do |friend| %>
        <%= render "friends/friend", friend: friend %>
      <% end  %>
    <% end %>
  </div>
