<% if @user.pet_sitter? %>
  <%= link_to pet_sitting_path do %>
  <% if @user != current_user %>
    <div class="btn btn-flat"><%= @user.first_name %>'s Petsitting Service</div>
    <% else %>
    <div class="btn btn-flat">My Petsitting Service</div>
    <% end %>
  <% end %>
<% end %>
