  <% if @user == current_user %>
    <% if @user.pet_sitter? %>
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623309469/a_jzel9g.png", alt: "petsitter", id: "badge-ps-current" %>
      <% else %>
      <%= link_to new_pet_sitting_path do %>
      <div id="become" class="btn btn-flat">Become a Petsitter</div>
      <% end %>
    <% end %>
  <% end %>
  <% if @user != current_user && @user.pet_sitter? %>
    <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623309469/a_jzel9g.png", alt: "petsitter", id: "badge-ps" %>
<% end %>
