<div class="d-flex flex-column justify-content-center align-items-center mt-5 mb-5">
  <p>Pet-Sitters Near You</p>
  <div class="mt-5 mb-5">
<%= link_to "Become a Petsitter", new_pet_sitting_path, class: "btn btn-flat" %>
</div>
<%= render @pet_sittings %>
</div>
