<div class="background-container mt-3 text-center">
  <h6>Pet-Owners Near You</h6>
    <div class="d-flex flex-column mt-3 mb-5">
    <div class=" container-users">
      <%= render @users %>
    </div>
  </div>
</div>
