<div class="background-container mt-3 text-center">
  <p>Pet-Owners Near You</p>
  <div class="row justify-content-center">
    <div class=" container-users">
      <%= render @users %>
    </div>
  </div>
</div>
