<div class="container background-container">
  <div class="row justify-content-center pt-5">
    <h1>Meet friends here!</h1>
    <div class=" container-users">
      <%= render @users %>
    </div>
  </div>
</div>
