<div class="container">
  <div class="footer-box d-flex justfy-content-between">
    <div class="footer-icon-left">
      <i class="fas fa-running"></i>
      <i class="fas fa-cat"></i>
    </div>
    <div class="footer-icons-web">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
    </div>
    <div class="footer-icons-right">
      <i class="fas fa-running"></i>
      <i class="fas fa-cat"></i>
    </div>
  </div>
</div>
