<div class="footer">
  <div class="footer-top">
    <div class="footer-icons-web">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-icons-left">
      <p><i class="fas fa-running"></i></p>
      <p><i class="fas fa-cat"></i></p>
    </div>

      <p id="copy-right">ConnecPet © 2021. All rights reserved.</p>

    <div class="footer-icons-right">
      <p><i class="fas fa-running"></i></p>
      <p><i class="fas fa-cat"></i></p>
    </div>
  </div>
</div>
