  <div class="d-flex flex-column justify-content-center align-items-center" id="homepage">
      <div class="container-home">
        <div id="images" class="d-flex justify-content-center align-items-center">
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623041346/image845_ifisye.png", alt: "cats" %>
        </div>
    </div>
    <div class="connect-button mt-5">
      <%= link_to 'Connect Today!', users_path, class: "btn btn-flat", id: "button" %>
    </div>
</div>
