<div class="heard d-flex justify-content-center">
  <div class="logo">
    <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1622550543/logo_qobxhf.png", alt: "logo" %>
  </div>
</div>
