<div class="heard d-flex justify-content-center">
  <div class="link-connect">
    <p>Log in or sign up to
      <%= link_to 'Connect Today!', users_path, class: "btn btn-flat mr-5" %></p>
  </div>
</div>
