 <div class="d-flex flex-column justify-content-center align-items-center bg-white">
      <div class="logo mt-4">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1622940506/logo-2_e0ki71.png", alt: "logo", class: "logo"%>
      </div>
      <div class="container-home">
        <div id="images" class="d-flex justify-content-center align-items-center">

        </div>
    </div>
    <div class="connect-button">
      <%= link_to 'Connect Today!', users_path, class: "btn btn-flat", id: "button" %>
    </div>
</div>
