  <div class="d-flex flex-column justify-content-center align-items-center" id="homepage">
      <div class="container-home text-center">
        <div class="slogan mb-3">
        <p><strong>Connecting Pets</br>
            Connecting People</strong></p>
          </div>
        <div id="images" class="d-flex justify-content-center align-items-center">
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623164573/sd_ombxmo.png", alt: "cats" %>
        </div>
    </div>
    <div class="connect-button mt-3">
      <%= link_to 'Connect', users_path, class: "btn btn-flat", id: "button" %>
    </div>
</div>
