
#announcements-button {
  margin-bottom: 40px;
  margin-top: 30px;
}

.container-announcements .announcements-title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;

}

.render-announcement {
  margin: auto 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-announcements {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.card-announcement {
  max-width: 600px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: white;
}

.card-announcement:last-child {
border-bottom: 1px solid #ccc;
}

.banner-card-announcement {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(138, 138, 138, 0.2);
  border-radius: 10px;
  margin-bottom: 16px;

}

.banner-card-announcement > img {
  max-height: 110px;
  width: 100%;
  object-fit: cover;
}

// .banner-card-announcement h2 {
//   font-size: 10px;
//   font-weight: bold;
//   margin: 0;
// }

// .banner-card-announcement p {
//   font-size: 10px;
//   opacity: .7;
//   margin: 0;
// }


.banner-card-announcement .banner-card-announcement-infos {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  height: auto;
  padding-bottom: 16px;
}

.banner-card-announcement-infos .banner-card-announcement-user {
  position: absolute;
  right: 16px;
  top: -24px;
  width: 56px;
  border-radius: 50%;
}

#new-announcement {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

// @media(max-width: 576px) {
//   .card-notification-booking {
//     max-width: 500px !important;
//     margin: 0 !important;
//     padding: 10px !important;
//   }
//   .container-notification {
//     max-width: 500px;
//     padding: 0 !important;
//     margin: 0 !important;
//   }
// }







// media query


// @media(max-width: 992px) {
//   .container-users {
//     grid-template-columns: 1fr;
//   }
// }

// @media(max-width: 768px) {
//   .container-users {
//     grid-template-columns: 1fr 1fr;
//   }
// }


@media(max-width: 576px) {
  .banner-card-announcement {
    width: 100%;
  }
}

// @media(max-width: 576px) {
//   .card-announcement {
//     width: 500px !important;
//     margin: 0 !important;
//     padding: 10px !important;
//   }
//   .container-announcements {
//     padding: 0 !important;
//     margin: 0 !important;
//     justify-content: center;
//   }
// }

// @media(max-width: 480px) {
//   .card-announcement {
//     grid-template-columns: 1fr;
//   }
// }
