// .announcement-background {
//    width: 100%;
// }

.container-announcements {
  margin: 0 auto;
  // width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  // grid-gap: 20px;
  justify-content: space-around;
  // border-right: 2px solid;
  // border-left: 2px solid;
  // border-bottom: 2px solid;
  // border-top: 2px solid;
  // border-color: #ccc;
  flex-grow: 1;
  padding: 16px;
}


.card-announcement {
  // width: 796px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: white;
}

.card-announcement:last-child {
border-bottom: 1px solid #ccc;
}


.announcement-user-name {
  font-size: 15px;
}

.announcement-user-info {
  margin-right: 60px;
  width: 174px;
}

.announcement-info {
  width: 357px;
  padding: 10px;

  p {
    font-size: 15px;
    line-height: 43px;
  }
}

.pet-info {
  width: 180px;
  text-align: center;
  margin-right: 0;

  img {
    margin-bottom: 10px;
  }
}

.pet-name {
  margin-top: 10px;
  font-size: 15px;
}

// media query


// @media(max-width: 992px) {
//   .container-users {
//     grid-template-columns: 1fr;
//   }
// }

// @media(max-width: 768px) {
//   .container-users {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// @media(max-width: 576px) {
//   .container-users {
//     grid-template-columns: 1fr;
//   }
// }

// @media(max-width: 480px) {
//   .card-announcement {
//     grid-template-columns: 1fr;
//   }
// }

// ↓ Go back and forth between pages ↓

.area {
  width: 900px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}

.tab_class {
  width: calc(100%/5);
  height: 50px;
  background-color: white;
  color: #a5a8a6;
  font-weight: bold;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
  // border-color: #ccc;
  // border-left: 2px solid;

}

input[name="tab_name"] {
  display: none;
}

input:checked + .tab_class {
  background-color: white;
  color: black;
  // border-color: #ccc;
  // border-left: 2px solid;
}

.content_class {
  display: none;
  width: 100%;
}

input:checked + .tab_class + .content_class {
  display: block;
}
