.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
  transition: width 0.3s ease-in-out;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  border: white 1px solid;
}

.avatar-large:hover {
  width: 60px;
  cursor: pointer;
}
