.btn {
  background-color: #37C8AB;
  color: white;
  border-radius: 16px;
  text-decoration: none !important;
  min-width: 80px;
  margin: 20px;
  font-size: 14px;
}

.btn:hover {
  color: white;
  opacity: 70%;
  text-decoration: none !important;
}

.btn-clear {
  background-color: white;
  color: #37C8AB;
  border-radius: 16px;
  border: 1px solid #37C8AB;
}

#fr-request {
  margin-right: 20px;
  font-size: 14px;
  text-decoration: none !important;
  padding: 6px 12px;
  border-radius: 16px;
}

#fr-request:hover {
  background-color: #37C8AB;
  color: white;
  border: none;
}
