.btn {
  background-color: white;
  color: inherit;
  border: 1px solid;
  border-radius: 8px;
  transition-duration: 0.3s;
  text-decoration: none;
  min-width: 80px;
  margin: 20px;
  font-size: 14px;
}

.btn:hover {
  background-color: #2C2C2C;
  color: white;
}


