h1, h6 {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.container-users {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: space-around;
  padding: 100px;
  padding-top: 3px;

}

.card-user {
  display: grid;
  grid-template-columns: 1fr;
  flex-grow: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  min-width: 300px;

  img {
  object-fit: cover;
  }
}

.card-user .card-user-info {
  padding: 12px;
  display: flex;
  align-items: center;
  color: black;
  justify-content: space-between;
  width: 100%;
  margin-left: 0;
}

.card-user-name {
  margin-bottom: 0px;
  width: 50%;

  h2 {
    margin-right: 10px;
  }
}

.name-text h2 {
  font-size: 14px;
  margin: 0;
  margin-left: 8px;
}

#user-location {
    font-size: 12px;
  }

.link:hover{
  text-decoration: none;
}

.card-user-info .card-user-avatar {
  width: 54px;
  border-radius: 50%;
  }

.card-user-info h2, h3:hover {
    text-decoration: none;
  }

.carousel-control-prev, .carousel-control-next {
  border-radius: 8px;
}

@media(max-width: 992px) {
  .container-users {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .container-users {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 576px) {
  .container-users {
    grid-template-columns: 1fr;
    padding: 0;
    max-width: 400px;
  }
}

@media(max-width: 480px) {
  .container-users {
    grid-template-columns: 1fr;
  }
}
