#main-container {
  max-width: 500px;
}

#badge-ps-index {
  width: auto;
  height: 25px;
  margin-left: -15px;
  margin-top: -30px;
}

#some-div {
  max-width: 500px;
}

#badge-ps {
  border-radius: 0;
  width: 80px;
  margin-left: -270px;
  margin-top: -55px;
  height: auto;
}

hr {
  border: 0;
  clear:both;
  display: block;
  width: 96%;
  background-color:#2C2C2C;
  height: 1px;
}

.slogan {
  font-family: "Arvo", serif;
}

.profile {
  width: 500px;
  line-height: 25px;
  background-color: white;
  border-radius: 8px;
}

.profile img {
  height: 150px;
  width: 150px;
  padding: 20px;
  border-radius: 50%;
}

.card-petsittings img {
  max-width: 375px;
  max-height: 375px;
}
.petsitter-img {
  max-height: 375px;
  min-width: 375px;
  border-radius: 8px;
}
.card-petsittings-info {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

  p {
  text-decoration: none !important;
  color: inherit;
  }

.petsitter img {
  height: 150px;
}

.card-pet {
  border-radius: 8px;
  width: 500px;
  height: auto;
  line-height: 20px;
  border: 1px solid #ccc;
  background-color: white;
}

.card-pet img {
  height: 300px;
  width: 300px;
  padding: 20px;
  object-fit: cover;
}

@media only screen and (max-width: 576px) {
  #another-div {
    max-width: 375px;
    justify-content: center;
  }

  #some-div {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: -45px;
    align-items: flex-start;
    padding-right: 0;
  }

  #back-button-div {
    display: none !important;
  }

  hr {
    max-width: 100%;
  }

  #badge-ps-index {
  width: auto;
  height: 25px;
  margin-right: -15px;
  margin-top: -30px;
}

  #badge-ps {
  border-radius: 0;
  width: 80px;
  margin-left: -110px;
  margin-top: -55px;
  height: auto;
}

  .user-info-show {
    width: auto;
  }

  #main-container {
    padding: 0;
    max-width: 400px;
    margin-bottom: 0px !important;
    margin-top: 0px;
  }

  .card-pet {
    border: none;
    max-width: 375px;
    img {
     height: 200px;
     width: 200px;
    }
  }

  .profile {
    max-width: 350px;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    img {
      width: 150px;
      height: 150px;
    }
  }

  .label {
    margin-right: 0;
    margin-bottom: 0;
  }
}
