.card-pet {
  border-radius: 8px;
  max-width: 500px;
  max-height: 300px;
  line-height: 20px;
  border: 1px solid #ccc;
  background-color: white;
}

.card-pet img {
  height: 150px;
  width: 150px;
  padding: 20px;
}

.profile {
  border-radius: 8px;
  width: 400px;
  line-height: 25px;
  background-color: white;
}

.profile img {
  height: 250px;
  width: 250px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 50%;
}

@media only screen and (max-width: 576px) {
  .card-pet {
    border: none;
    img {
     width: 200px;
     height: auto;
    }
  }
}

