.container {
  background-color: white;
  width: 100%;
  // padding: 16px;
  // box-shadow: 0 0 24px rgba(0,0,0,0.1);
  margin-top: 16px;
}

.footer-icons-web a {
  margin-right: 5px;
  font-size: 34px;
  color: #d6d4d4;
  text-shadow: 2px 2px 2px (#76D0C0);
