.form-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .btn {
    margin-left: 10px !important;
  }

  .form-control {
    border-radius: 8px;
    height: 30px;
  }
}

.simple_form {
  max-width: 400px;
  padding-top: 10px;
  margin: 20px;

  .form-control {
    display: inline-block;
    justify-content: center;
  }
  .form-actions {
    display: flex;
    justify-content: center;
  }
}

.container-new-pet {
  justify-content: center !important;
}
