#chatroom {
  margin-top: 100px;
}

.created-at {
  font-size: 12px;
}
.message {
  display: flex;
  flex-direction: column;
}

html {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#messages {
  background-color: white;
  width: 400px;
  overflow-y: scroll;
  box-sizing: content-box;
  height: 550px;
  margin-top: -40px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding-right: 1px;
}

.message-container {
  margin-top: 10px;
  border: 1px #ccc;
}

#message_content {
  margin-top: 20px;
  border-radius: 8px;
  height: 40px;
  min-width: 300px;
}

#written-message {
  padding-left: 3rem;
}

#new_message {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  align-items: center;
  justify-center: flex-end;
}

#message-button {
  margin-left: 20px !important;
}

.right-bubble {
  border-radius: 16px;
  background-color: #eaeaea;
  height: auto;
  max-width: 50%;
  align-self: flex-end !important;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.left-bubble {
  border-radius: 20px;
  background-color: white;
  border: 1px solid #eaeaea;
  align-self: flex-start !important;
  font-size: 14px;
  max-width: 50%;
  margin-bottom: 10px;
  margin-left: 10px;
}

.send-message {
  margin-bottom: 50px;
}

.created-at {
  font-style: rgb(182, 181, 181);
  font-style: italic;
}

.author {
  text-decoration: none;
}

.message-content-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

.message-top {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 576px) {
  #messages {
    border: none;
    margin-top: -50;
  }

  .message-top {
    margin-top: 0;
  }
}
