.message-container {
  display: flex;
  flex-direction: column;
  height: 120px;
  margin-top: 30px;
  border: 1px lightgrey;
  transition: 0.5s ease;
}

#message_content {
  margin-top: 20px;
  border-radius: 16px;
}

#written-message {
  padding-left: 3rem;
}

#new_message {
  .btn {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: large;
    height: 50px;
  }
}

.right-bubble {
  border-radius: 38px 38px 0px 38px;
  margin-left: 32px;
  background-color: #bcddd7;
}

.left-bubble {
  border-radius: 38px 38px 38px 0px;
  margin-right: 32px;
  background-color: white;

}

.send-message {
  margin-bottom: 50px;
}

.created-at {
  font-style: rgb(182, 181, 181);
  font-style: italic;
}

.author {
  text-decoration: none;
}


.message-content-div {
  padding-left: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.message-top {
  margin-top: 10px;
  display: flex;
  align-items: center;
  
}


