.navbar-lewagon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: white;
  border: 1px solid #ccc;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.nav-item {
  border: 1px solid #ccc;
  font-size: 16px;
  color: #76D0C0;
  border-radius: 8px;
}

.nav-link {
  padding: 0px;
}

.navbar-nav {
  gap: 10px;
}

.dropdown-item  {
  padding: 0px;
}
