span.notification-badge {
  position: relative;
  top: -10px;
  right: 10px;
  font-size: 14px;
  border-radius: 50%;
  margin-right: -18px;
}

span.notification-badge-mobile {
  position: relative;
  top: -18px;
  right: 16px;
  font-size: .5em;
  border-radius: 50%;
  margin-right: -20px;
}

span.notification-badge-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  height: 20px;
  width: 20px;
  background-color: #e52727;
  color: white;
}

.logged-in {
  color: green;
}
.logged-out {
  color: red;
}

.logged-in-index {
  color: green;
  font-size: 30px;
}
.logged-out-index {
  color: red;
  font-size: 15px;
}