.notification {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  width: 90%;
  border-radius: 12px;
  overflow: hidden
  // box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}



.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
  overflow: hidden;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  display: flex;
  justify-content: space-between;
  transition: ease .3s;
}


.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

// .notification .notification-actions a:hover {
//   color: red;
//   text-decoration: none;
// }

// .notification .far:hover {
//    color: red;
//    text-decoration: none;
// }

a:hover {
  text-decoration: none;
}

#friend-request-div {
  display: inline;
}

.title-container {
  margin-top: 4rem;
}


