.notification {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin: 15px;
  background: white;
  padding: 8px 16px;
  border: 1px solid #ccc;
  max-width: 400px;
  width: 70%;
  border-radius: 12px;
  overflow: hidden;

  a {
    color: #999999;
    font-size: 14px;
    text-decoration: none !important;
    color: inherit;
    position: relative;
  }

  a:hover {
  text-decoration: none !important;
  color: #999999;
}
}

.notification .notification-content {
  flex-grow: 1;
  font-size: 14px;
  padding: 0 24px;
  overflow: hidden;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
  text-decoration: none !important;
  color: inherit;
}
.notification .notification-actions {
  display: flex;
  justify-content: space-between;

  i {
    font-size: 22px;
  }
}

#friend-request-div {
  display: inline;
}

.title-container {
  margin-top: 4rem;
}

@media(max-width: 576px) {
  .notification {
    border: none;
    min-width: 400px;
  }
}
