#main-petsitting {
  background-color: rgb(245, 244, 244);
  background-attachment: fixed;
  height: 100%;
  padding-bottom: 30px;
  overflow-x: hidden;
}

.cards-user-petsitting {
  border-radius: 16px;
  height: auto;
  width: 340px;
  line-height: 25px;
  border: 1px solid rgb(233, 233, 233);
  background-color: white;
  margin-top: 20px;
  padding-bottom: 20px;
  background-repeat: no-repeat;

}
.cards-user-petsitting img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  z-index: 2;
}


#back-button-div {
 width: 100%;
 margin-left: 20px;
 margin-top: 20px;
 padding-bottom: 0;
 color: rgba(209, 207, 207, 0.65);
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 transition: color 1s ease-in;
}

.cards-user-petsitting:hover {
  #back-button-div i {
   color: black;
  }
}

#petsitter-message-bubble a:hover {
  text-decoration: none;
}

.container-img {
  width: 86%;
  height: 80%;
  display: flex;
  justify-content: flex-end;
  left: 0;
  margin-top: 0;
}


.user-info {
  display: flex;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 0;
}

.user-bio {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}


.petsitter-img-container {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  height: auto;
}

.petsitter-img-container .avatar-petsitter {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.price-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 160px;
  height: 140px;
  margin-right: 20px;
  padding-bottom: 10px;
}


.petsitting-price {
  border-radius: 2rem;
  background-color: rgba(248, 247, 247, 0.931);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  height: 50px;
  width: 130px;

}

.booking-title {
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
}

.booking-wrapper {
  background-position: 20%, 40%;
  padding-top: 20px;
}

.form-group .review_content {
  border-radius: 2rem;
}



.yen-sign {
  padding-right: 10px;
}

#main {
  background-color: lightgray;
}

.review-count {
  height: 116px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin-left: 16px;
  text-align: center;
  margin-right: 16px;
}


#content {
  max-width: 600px;
  margin: 10vh auto;
}

.testimonial blockquote {
  margin: 10px 10px 0;
  background: #efefef;
  padding: 20px 60px;
  position: relative;
  border: none;
  border-radius: 16px;
}

.testimonial blockquote:before,
.testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  line-height: 1;
  color: #757f9a;
}

.testimonial blockquote:before {
  top: 0;
  left: 10px;
}

.testimonial blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: -0.5em;
}

.testimonial div {
  width: 0;
  height: auto;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #efefef;
  margin: 0 0 0 60px;
}

.testimonial p {
  margin: 8px 0 0 20px;
  text-align: left;
  color: black;
}

.petsitting-review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



//media queries
@media(max-width: 576px) {
  .cards-user-petsitting {
    width: 100%;
  }
}


